@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  .text-glow {
    -webkit-text-stroke: 3px #feff1447;
    -webkit-text-fill-color: #ffffff;
    -webkit-animation: fill 0.5s infinite alternate;
  }
  .text-glow-white {
    -webkit-text-stroke: 2px #00000073;
    -webkit-text-fill-color: #ffffff;
    -webkit-animation: fill 0.5s infinite alternate;
  }
  .text-glow-black {
    -webkit-text-stroke: 5px #1a151557;
    -webkit-text-fill-color: #000000;
    -webkit-animation: fill 0.5s infinite alternate;
  }
  .text-border-white {
    text-shadow: 2px 0 #fff, -2px 0 #fff, 0 2px #fff, 0 -2px #fff,
               1px 1px #fff, -1px -1px #fff, 1px -1px #fff, -1px 1px #fff;
  }
}